@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* 2026 Fix for Code Color Highlighting */
.prose pre {
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}

.prose pre code {
  background-color: transparent !important;
  color: inherit !important;
}

/* Ensure bullet points actually show up */
.prose ul {
  list-style-type: disc !important;
}
.prose ol {
  list-style-type: decimal !important;
}
